# Windows and Mac OS X
Thumbs.db
.DS_Store
*.db
users.db
.session-key

# exclude image_archive and cex
static/image_archive/*
cex/*

# exception to the rule
!cex/.gitkeep
!static/image_archive/test/

#Goland imls and xmls
.idea/*

#sublime project files
Brucheion.sublime-project
Brucheion.sublime-workspace

#logs
*.log
