.app_hidden {
	display: none;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease-out 1s;
	-moz-transition: all 0.5s ease-out 1s;
	-ms-transition: all 0.5s ease-out 1s;
	-o-transition: all 0.5s ease-out 1s;
	transition: all 0.5s ease-out 1s;
}

.app_visible {
	visibility: visible;
	-webkit-opacity: 0.90;
	-moz-opacity: 0.90;
	opacity: 0.90;
	-webkit-transition: all 0.5s ease-out 1s;
	-moz-transition: all 0.5s ease-out 1s;
	-ms-transition: all 0.5s ease-out 1s;
	-o-transition: all 0.5s ease-out 1s;
	transition: all 0.5s ease-out 1s;
}

div.app_sidebarDiv{
		font-size: 80%;
		float: right;
		position: absolute;
		right: 20;
		background-color: rgba(0, 0, 0, 0);
		width: 300%;
		padding: 5px;

}

div.col-xs-12	{
	margin-top: 5px;
}

#sideBarItself{
	box-shadow: 1px 1px 1px 1px rgba(125, 125, 125, 0.5);
}

div.app_sidebarDiv h2 {
	padding-top: 5px;
}

#app_filePickerSpan {
		font-weight: normal;
		font-size: 65%;
		float: right;
}

#app_filePicker {
	width: 175px;
}

/* appwide forms */

label {
	font-size: 80%;
	color: #777;
	font-weight: normal;
}
div.app_sidebarDiv label {
		padding-right: 5px;
		padding-left: 0;
}

div.app_sidebarDiv h2 {
		margin-bottom: 10px;
		margin-top: 10px;
}

.app_reportingCurrentUrn {
	font-size: 80%;
	color: #777;
	padding-top: 0;
	margin-top: 0;
}

#app_header_versionInfo {
		font-size: 80%;
		color: #777;
		font-weight: normal;
}

/* Containers */

#o2_Container {
	padding-top: 3px;
	min-height: 220px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.app_clickable, a {
	color: #7273af;
	text-decoration: none;
}

.app_clickable:hover, a:hover {
		text-decoration: underline;
}

/* =================================================== */
/* Image Formating */
/* =================================================== */

img#image_preview {
	border: 1px solid silver;
	max-width: 100%;
}

a.image_deleteUrn {
	border: 2px;
	color: #955;
	cursor: pointer;
}

a.image_deleteUrn:hover {
		color: red;
		background-color: #fbb;
}

img.object_imgThumb, img#image_previewImg {
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	max-width: 200px;
	max-height: 200px;
}

div#image_imageContainer.fullpage {
	max-width: 100%;
}

div#image_sidebar ul {
	overflow-x: scroll;
	padding-left: 0;
}

div#image_sidebar ul li {
	list-style-type: none;
	padding-left: 0;
}

p.image_mappedUrn {
	padding: 3px;
}

a.image_imageROI {
	outline: 2px solid yellow;
}

a.image_mappedROI:active {
	background-color: rgba(256,256,256,0);
}


a.image_roi_selected {
	outline: 3px solid rgb(230,230,0);
	border: 1px solid black;
	background-color: rgba(230,230,0,0);
}

a.image_roi_hovered {
	background-color: rgba(230,230,0,0.2);
}

p.image_roi_selected {
	background-color: #ddd;
	border: 1px solid #aaa;
}

.osd-guide {
  z-index: 0;
  cursor: pointer;
  pointer-events: none;
}

.osd-guide-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform-origin: center;
  pointer-events: auto;
}

.osd-guide-horizontal {
  position: absolute;
  left: 50% !important;
  height: 2px !important;
  width: 150% !important;
  cursor: row-resize;
  transform: translateX(-50%);
}

.osd-guide-horizontal .osd-guide-line {
  border-top: 3px solid #D262F1;
}

.osd-guide-vertical {
  position: absolute;
  top: 50% !important;
  height: 150% !important;
  width: 2px !important;
  cursor: col-resize;
  transform: translateY(-50%);
}

.osd-guide-vertical .osd-guide-line {
  border-left: 3px solid #D262F1;
}


/* Inherited Stuff */

html,
body {
	margin: 0;
	padding: 25px;
	padding-top: 5px;
}

header, footer {
	line-height: 1.2em;
	color: #777;
}

header {
	font-size: 120%;
	padding-bottom: 5px;
	font-weight: bold;
}

footer {
	font-size: 80%;
	bottom: -50px;
	padding-right: 60px;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
}


body {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	color: #4d4d4d;
	/* width: 550px; */
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

div {
	margin: 0;
	padding: 0;
}

p {
}

input{
	/* Optical justification FTW */
	margin-left: -1px;
}

div.configDiv {
	margin-top: 15px;
}

.onoffswitch {
    position: relative; width: 70px;
		left: -2px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		display: inline-block;
		top: 6px;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #e5e5e5; border-radius: 20px;
		padding: 0;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 10px; color: white;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Remote";
    padding-left: 12px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Local";
    padding-right: 12px;
    background-color: #cccccc; color: #3f3f3f;
    text-align: right;
}


.onoffswitch-switch {
    display: block; width: 6px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
		width: 11px; height: 11px; margin: px;
    right: 50px;
    border: 2px solid #fff; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;


}

/* Group Colors */

a.copyLink:before {
		content: "+";
		color: green;
		border: 1px solid green;
		padding-left: 3px;
		padding-right: 3px;
}

a.copyLink {
	margin-right: 5px;
	margin-left: 2px;
}

a.deleteLink:before{
	content: "x";
	color: red;
	border: 1px solid red;
		padding-left: 3px;
		padding-right: 3px;
}


a.copyLink:hover {
	background-color: rgba(0,255,0,0.3);
}

a.deleteLink:hover {
	background-color: rgba(255,0,0,0.3);
}

a.copyLink:hover, a.deleteLink:hover {
	text-decoration: none;
	cursor: pointer;
}

a.deleteLink {
	margin-right: 5px;
}


a.image_roiGroupSelected {
		background-color: rgba(249,255,0,.2);
}

li.image_roiGroupSelected {
		background-color: rgba(249,255,0,.5);
}

a.image_roiGroup_0 {   outline: 3px solid red; }
a.image_roiGroup_1 {   outline: 3px solid #f23568; }
a.image_roiGroup_2 {   outline: 3px solid #6d38ff; }
a.image_roiGroup_3 {   outline: 3px solid #38ffd7; }
a.image_roiGroup_4 {   outline: 3px solid #fff238; }
a.image_roiGroup_5 {   outline: 3px solid #661641; }
a.image_roiGroup_6 {   outline: 3px solid #275fb3; }
a.image_roiGroup_7 {   outline: 3px solid #24a669; }
a.image_roiGroup_8 {   outline: 3px solid #a67b24; }
a.image_roiGroup_9 {   outline: 3px solid #ff38a2; }
 a.image_roiGroup_10 { outline: 3px solid #194973; }
 a.image_roiGroup_11 { outline: 3px solid #35f268; }
 a.image_roiGroup_12 { outline: 3px solid #7f441c; }
 a.image_roiGroup_13 { outline: 3px solid #801c79; }
 a.image_roiGroup_14 { outline: 3px solid #2a8ebf; }
 a.image_roiGroup_15 { outline: 3px solid #216616; }
 a.image_roiGroup_16 { outline: 3px solid #d97330; }
 a.image_roiGroup_17 { outline: 3px solid #da32e6; }
 a.image_roiGroup_18 { outline: 3px solid #196d73; }
 a.image_roiGroup_19 { outline: 3px solid #bdff38; }
 a.image_roiGroup_20 { outline: 3px solid #bf3e2a; }
 a.image_roiGroup_21 { outline: 3px solid #3d1973; }
 a.image_roiGroup_22 { outline: 3px solid #30cdd9; }
 a.image_roiGroup_23 { outline: 3px solid #858c1f; }
 a.image_roiGroup_24 { outline: 3px solid #661616; }

 li.image_roiGroup_0:before  {color: red; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_1:before  {color: #f23568; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_2:before  {color: #6d38ff; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_3:before  {color: #38ffd7; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_4:before  {color: #fff238; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_5:before  {color: #661641; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_6:before  {color: #275fb3; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_7:before  {color: #24a669; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_8:before  {color: #a67b24; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_9:before  {color: #ff38a2; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_10:before {color: #194973; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_11:before {color: #35f268; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_12:before {color: #7f441c; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_13:before {color: #801c79; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_14:before {color: #2a8ebf; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_15:before {color: #216616; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_16:before {color: #d97330; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_17:before {color: #da32e6; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_18:before {color: #196d73; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_19:before {color: #bdff38; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_20:before {color: #bf3e2a; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_21:before {color: #3d1973; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_22:before {color: #30cdd9; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_23:before {color: #858c1f; content: "▶︎"; padding-right:0.5em; }
 li.image_roiGroup_24:before {color: #661616; content: "▶︎"; padding-right:0.5em; }
