<html>
<head>
	<title>Brucheion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon-guides.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selection.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionoverlay.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionrect.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/dragging.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/application.css">
	<link rel="stylesheet" href="{{.Host}}/static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/brulma.css">
	<style>
        .tile-resizable {
            resize: both;
          overflow: hidden
        }
    </style>
</head>
<body>
  {{template "navigation" .}}

	<div class="container is-fluid">
		<section>
			<div class="tile is-ancestor">
				<div class="tile is-parent is-12">

				</div>
			</div>
		</section>

	<section>
		<div class="tile is-ancestor">
			<div class="tile is-parent is-2">
				Content of your Library:
			</div>
			<div class="tile is-parent is-4">
				<form action="{{.Host}}/deleteBuckets/" method="POST">
					<div class="select is-multiple">
						<select id="urns" multiple="multiple" size="10">
							<option value="Argentina">Argentina</option>
							<option value="Bolivia">Bolivia</option>
							<option value="Brazil">Brazil</option>
						</select>
					</div>
				</div>
				<div class="tile is-parent is-2">
					<button class="button is-danger">Delete</button>
				</div>
			</form>
		</div>
	</section>

  {{template "footer"}}
</div>


	<script type="text/javascript" src="{{.Host}}/js/BrIC.js"></script>
</body>
	</html>
