<!DOCTYPE html>
<html>
<head>
	<title>Brucheion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon-guides.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selection.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionoverlay.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionrect.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/dragging.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
	{{template "stylesheets" .}}
</head>
<body class="has-hero">
  {{template "navigation" .}}
	{{template "hero-passage-selection" dict "Title" "Image Citation Editor" "PathName" "edit2" "Page" .}}

	<div class="container is-fluid">
		<section>
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<div class="tile is-child is-12">
						<div class="column is-12 has-text-right">
							<a class="button is-medium" href="{{.Host}}/view/{{.Title}}/">Cancel</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<div class="tile is-vertical">
						<div class="tile is-child">
							<button class="button is-small is-primary" id="image_changeUrn">Change Image</button>
							<div class="form-group">
								<label for="sel1">Select Collection:</label>
								<select class="form-control" id="image_colSelect" onchange="refreshURL()">
								</select>
							</div>
							<div class="form-group">
								<label for="sel1">Select Image:</label>
								<select class="form-control" id="image_urnSelect">
								</select>
							</div>
							<ul id="image_urnList"></ul>
							<div class="tile is-child box tile-resizable" style="height: 500px;">
								<div id="image_imageContainer"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="tile is-parent">
					<div class="tile is-vertical is-8">
						<div class="tile is-child">
							<form method="post" action="{{.Host}}/saveImage/{{.Title}}">
								<p class="subtitle">ImageRef
									<div>
										<a class="button is-primary" href="#" onclick="manualPost();">Submit</a>
										<a id="deletearea" class="button is-danger" href="#" onclick="function deleteLink(){document.getElementById('imageTextArea').value = '';}; deleteLink(); return false;">Clear</a>
									</div>
								</p>
								<p>
									<textarea id="imageTextArea" name="text" rows="4" , cols="60">{{.ImageRef}}</textarea>
								</p>
							</form>
						</div>
						<div class="tile is-child box is-12 tile-resizable">
							<p>{{printf "%s" .Text}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>

	  {{template "footer"}}
	</div>
	<input type="hidden" id="initialCITE" value="{{.ImageJS}}" readonly>
	<script>
		let dropdown2 = $('#image_colSelect');

		dropdown2.empty();

		dropdown2.append('<option selected="true" disabled>Choose collection</option>');
		dropdown2.prop('selectedIndex', 0);

		const collectionurl = '{{.Host}}/requestImgCollection';

		// Populate dropdown with list of provinces
		$.getJSON(collectionurl, function (data) {
			$.each(data.item, function (key, entry) {
				dropdown2.append($('<option></option>').attr('value', entry).text(entry));
			})
		});
	</script>

	<script>
		var imageurl = "{{.Host}}/requestImgID/morgantina";

		function refreshURL() {
			imageurl = '{{.Host}}/requestImgID/' + $('#image_colSelect').val();
			let dropdown = $('#image_urnSelect');

			dropdown.empty();

			dropdown.append('<option selected="true" disabled>Choose folio</option>');
			dropdown.prop('selectedIndex', 0);

			// Populate dropdown with list of provinces
			$.getJSON(imageurl, function (data) {
				$.each(data.item, function (key, entry) {
					dropdown.append($('<option></option>').attr('value', entry).text(entry));
				})
			});
		}
	</script>
	<script>
		function manualPost() {
			var xhttp = new XMLHttpRequest();
			var imageArea = document.getElementById('imageTextArea').value.replace("#", "+");
			var actualPost = "{{.Host}}/saveImage/{{.Title}}/" + imageArea;
			console.log(actualPost);
			xhttp.open("GET", actualPost, true);
			xhttp.send();
			window.location = "{{.Host}}/view/{{.Title}}";
		};
	</script>
	<script type="text/javascript" src="{{.Host}}/js/BrIC.js"></script>
</body>
</html>
