<!DOCTYPE html>
<html>
<head>
	<title>Brucheion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon-guides.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selection.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionoverlay.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionrect.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/dragging.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
	{{template "stylesheets" .}}
	{{.ImageScript}}
</head>
<body>
  {{template "navigation" .}}

	<section class="hero is-link">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Transcription Desk
				</h1>
				<div class="columns">
					<div class="coulumn">
						<p class="subtitle"></p><a href="{{.Host}}/edit/{{.First}}/"><i
								class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
						<a href="{{.Host}}/edit/{{.Previous}}/"><i class="fa fa-chevron-left"></i></a>
						<strong>{{.Title}}</strong>
						<a href="{{.Host}}/edit/{{.Next}}/"><i class="fa fa-chevron-right"></i></a>
						<a href="{{.Host}}/edit/{{.Last}}/"><i class="fa  fa-chevron-right"></i><i
								class="fa  fa-chevron-right"></i></a>
						</p>
					</div>
					<div class="column">
						<form name="nav">
							<div class="control">
								<div class="select">
									<select name="SelectURL"
										onchange="document.location.href=document.nav.SelectURL.options[document.nav.SelectURL.selectedIndex].value">
										{{.TextHTML}}
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container is-fluid">

		<section>
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<div class="tile is-child box is-6">
						<input id="image_urnBox" type="text" size="60" value="" /> <button
							class="button is-small is-primary" id="image_changeUrn">Change
							Image
						</button>
					</div>
					<div class="tile is-child box is-5">
						<p>ImageRef: {{.ImageHTML}}</p>
					</div>
					<div class="tile is-child is-1">
						<div class="column is-12 has-text-right">
							<a class="button is-small is-danger" href="{{.Host}}/view/{{.Title}}/">CANCEL</a>
                            <a class="button is-small" href="{{.Host}}/edit/{{.Title}}/pt">PORTRAIT</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tile is-ancestor">
				<div class="tile is-parent is-vertical">
					<div class="tile is-child box tile-resizable is-12">
						<div class="box" style="height: 500px;">
							<div id="image_imageContainer"></div>
						</div>
					</div>
					<form action="{{.Host}}/save/{{.Title}}/" method="POST">
						<div class="tile is-child box tile-resizable is-12">
							<p class="subtitle">Transcription</p>
							<div>
								<div class="tile is-child columns">
									<div class="column">
										<button type="button" onclick="makeXSmall()"><span
												style="font-size: x-small">Aa</span></button>
										<button type="button" onclick="makeSmall()"><span
												style="font-size: small">Aa</span></button>
										<button type="button" onclick="makeMedium()"><span
												style="font-size: medium">Aa</span></button>
										<button type="button" onclick="makeBig()"><span
												style="font-size: large">Aa</span></button>
										<button type="button" onclick="makeXBig()"><span
												style="font-size: x-large">Aa</span></button>
									</div>
									<div class="column">
										<select lang="en" onchange="loadJS(this.value)">
											<option selected="selected" disabled="true"> Select a keyboard language
											</option>
											<option value="sansKey">sansKey</option>
											<option value="greekBeta">greekBeta</option>
											<option value="none">none</option>
										</select>
									</div>
								</div>
								<div><textarea class="specialKey" name="text" rows="15" ,
										cols="120">{{printf "%s" .Text}}</textarea></div>
								<div><input class="button is-primary" type="submit" value="Save"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>

		{{template "footer"}}
	</div>

	<input type="hidden" id="initialCITE" value="{{.ImageJS}}" readonly>
	<script type="text/javascript" src="{{.Host}}/js/BrIC.js"></script>
	<script type="text/javascript">
		var letterMap,
			keys,
			values,
			firstLetter,
			secondLetter;

		function loadJS(v) {
			var d = document, h = d.getElementsByTagName('head')[0], newScript;
			try { h.removeChild(d.getElementById('keylang')); } catch (e) { }
			newScript = d.createElement('script');
			newScript.id = 'keylang';
			newScript.type = 'text/javascript';
			newScript.src = '{{.Host}}/js/keyboards/' + v + '.js';
			h.appendChild(newScript);
		}
	</script>
	<script>
		function makeXBig() {
			var x = document.getElementsByName("text");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "x-large";
			};
		};
		function makeBig() {
			var x = document.getElementsByName("text");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "large";
			};
		};
		function makeMedium() {
			var x = document.getElementsByName("text");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "medium";
			}
		};
		function makeXSmall() {
			var x = document.getElementsByName("text");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "x-small";
			}
		};
		function makeSmall() {
			var x = document.getElementsByName("text");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "small";
			}
		};
	</script>
</body>
</html>
