<!DOCTYPE html>
<html>
<head>
    <title>Brucheion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/application.css">
    <link rel="stylesheet" href="{{.Host}}/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/brulma.css">
    <style>
        .tile-resizable {
            resize: both;
            overflow: hidden
        }
    </style>
</head>
<body>
    {{template "navigation" .}}
    {{template "hero-simple" "Edit Image Collection"}}

    <div class="container is-fluid">
        <section>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <a class="button is-medium" href="{{.Host}}/view/{{.Title}}/">Cancel</a>
                        <br/>
                        <div class="tile is-child">
                            <form method="post" action="">
                                <div class="form-group">
                                    <label for="sel1">Select Collection:</label>
                                    <select class="form-control" id="image_colSelect" onchange="refreshURL()">
                                    </select>

                                    <input type="text" />
                                    <label for="workurn">WorkURN:</label>
                                    <input type="text" class="form-control" id="workurn" value="{{.CatID}}">
                                    <span class="help-block">Please enter a CTS URN: It has 4 colons (and ends on one ending
                                        on one). After "urn:cts:[yourcollection]:", you have to provide at least workgroup
                                        ID and work ID separated by a ".". Additionaly, you can provide version and exemplar
                                        IDs.
                                    </span>
                                    <label for="scheme">Scheme:</label>
                                    <input type="text" class="form-control" id="scheme" value="{{.CatCit}}">
                                    <span class="help-block">What is the citation scheme of the work? For example, "1.1.1"
                                        could resemble "book/chapter/paragraph".</span>
                                    <label for="workgroup">Workgroup:</label>
                                    <input type="text" class="form-control" id="workgroup" value="{{.CatGroup}}">
                                    <span class="help-block">Workgroup in natural language.</span>
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title" value="{{.CatWork}}">
                                    <span class="help-block">Title in natural language.</span>
                                    <label for="version">Version:</label>
                                    <input type="text" class="form-control" id="version" value="{{.CatVers}}">
                                    <span class="help-block">Version in natural language.</span>
                                    <label for="exemplar">Exemplar:</label>
                                    <input type="text" class="form-control" id="exemplar" value="{{.CatExmpl}}">
                                    <span class="help-block">Exemplar in natural language.</span>
                                    <label for="online">Online:</label>
                                    <input type="text" class="form-control" id="online" value="{{.CatOn}}">
                                    <span class="help-block">Boolean; usually "true".</span>
                                    <label for="language">Language:</label>
                                    <input type="text" class="form-control" id="language" value="{{.CatLan}}">
                                    <span class="help-block">Language ID</span>
                                </div>
                                <input class="button is-primary" type="submit" value="Save"></form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{template "footer"}}
    </div>
    <script>
        let dropdown2 = $('#image_colSelect');

        dropdown2.empty();

        dropdown2.append('<option selected="true" disabled>Choose collection</option>');
        dropdown2.prop('selectedIndex', 0);

        const collectionurl = '{{.Host}}/thomas/requestImgCollection';

        // Populate dropdown with list of provinces
        $.getJSON(collectionurl, function (data) {
            $.each(data.item, function (key, entry) {
                dropdown2.append($('<option></option>').attr('value', entry).text(entry));
            })
            dropdown2.append($('<option></option>').attr('value', "other").text(other));
        });
    </script>
</body>
</html>
