<!DOCTYPE html>
<html>
<head>
    <title>Brucheion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/openseadragon.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/openseadragon-guides.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/selection.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/selectionoverlay.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/selectionrect.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/dragging.js"></script>
    <script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
    {{template "stylesheets" .}}
    <style>
        .yourClass {
            font-weight: bold;
            color: black;
        }

        .yourClass2 {
            font-weight: bold;
            color: hsl(0, 0%, 21%);
        }

        div.items div:not(:target) {
            display: none
        }

        div.items div:target {
            display: block
        }

        .initiallyHidden {
            display: none;
        }

        /* div.items2 div:not(:target) {
            display: none
        }

        div.items2 div:target {
            display: block
        } */
    </style>
</head>
<body>
    {{template "navigation" .}}

    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Multicompare
                </h1>
                <div class="columns">
                    <div class="coulumn">
                        <p class="subtitle"></p><a href="{{.Host}}/multicompare/{{.First}}"><i
                                class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
                        <a href="{{.Host}}/multicompare/{{.Previous}}/"><i class="fa fa-chevron-left"></i></a>
                        <strong>{{.Title}}</strong>
                        <a href="{{.Host}}/multicompare/{{.Next}}/"><i class="fa fa-chevron-right"></i></a>
                        <a href="{{.Host}}/multicompare/{{.Last}}/"><i class="fa  fa-chevron-right"></i><i
                                class="fa  fa-chevron-right"></i></a>
                        </p>
                    </div>
                    <div class="column">
                        <form name="nav">
                            <div class="control">
                                <div class="select">
                                    <select name="SelectURL" onchange="document.location.href=document.nav.SelectURL.options[document.nav.SelectURL.selectedIndex].value">
                                        {{.TextHTML}}
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        {{.InTextHTML}}
    </section>

    {{template "footer"}}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let cardToggles = document.getElementsByClassName('card-toggle');
            for (let i = 0; i < cardToggles.length; i++) {
                cardToggles[i].addEventListener('click', e => {
                    e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
                });
            }
        });
    </script>
</body>
<script>
    var newid = "crit1";
    $("span[alignment='0']").css("color", "lightgrey");

    $('span').hover(function () {
        $("div[lnum]").children("[id='" + $(this).attr("alignment") + "']").addClass('yourClass');
    }, function () {
        $("span").removeClass('yourClass');
    });

    $('span').click(function () {
        $('.yourClass2').removeClass('yourClass2');;
        document.getElementById(newid).style.display = "none";
        var num = this.id;
        var n = num.toString();
        newid = "crit" + n;
        document.getElementById(newid).removeAttribute("style");
        $(this).addClass('yourClass2');
    });
    var source_id = "";
    var target_id = "";
    var side = "";

</script>
<script>
    function highlfunc(linkElement) {
        var loc = $(linkElement).attr('href')
        var splitted = loc.split("#");
        if (splitted[1] == null) {
            return;
        };

        var header = document.getElementById("trmenu");
        var current = header.getElementsByClassName("is-primary");
        if (current.length != 0) {
            current[0].className = current[0].className.replace(" is-primary", "");
        };
        var linkid = "button_" + splitted[1];
        document.getElementById(linkid).className += " is-primary";
    };
</script>
</html>
