{{define "navigation"}}
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item img">
        <img src="/static/img/BrucheionLogo.png" alt="Brucheion logo">
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">
            Tools
          </p>
          <div class="navbar-dropdown">
            <a href="{{.Host}}/view/{{.Title}}" class="navbar-item">Passage Overview</a>
            <a href="{{.Host}}/edit2/{{.Title}}" class="navbar-item">Image Citation</a>
            <a href="{{.Host}}/edit/{{.Title}}" class="navbar-item">Transcribe</a>
            <a href="{{.Host}}/multicompare/{{.Title}}" class="navbar-item">Multicompare</a>
            <a href="{{.Host}}/tree/" class="navbar-item">Morpho-syntactic analysis</a>
            <a href="{{.Host}}/editcat/{{.Title}}" class="navbar-item">Edit Metadata</a>
            <a href="{{.Host}}/ingest" class="navbar-item">Ingest Image</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">
            <i class="fa fa-lg fa-fw fa-user-circle"></i> {{.User}}
          </p>
          <div class="navbar-dropdown">
            <a href="{{.Host}}/export/exported/" class="navbar-item">Download CEX</a>
            <a href="#" class="navbar-item">Account Settings</a>
            <a href="#" class="navbar-item">Display Settings</a>
            <a href="{{.Host}}/logout/" class="navbar-item">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function () {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#' + burger.dataset.target);
    burger.addEventListener('click', function () {
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
{{end}}

{{define "navigation-small"}}
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item img">
        <img src="/static/img/BrucheionLogo.png" alt="Brucheion logo" height="95rem">
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item is-active">Passage Home</a>
        <a href="#" class="navbar-item">Image Citation</a>
        <a href="#" class="navbar-item">Multicompare</a>
        <a href="#" class="navbar-item">Morpho-syntactic analysis</a>
        <a href="#" class="navbar-item">Consolidate</a>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function () {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#' + burger.dataset.target);
    burger.addEventListener('click', function () {
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
{{end}}

{{define "hero-simple"}}
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{.}}</h1>
    </div>
  </div>
</section>
{{end}}
