<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Brucheion</title>

    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/bulma.css" />
    <link rel="stylesheet" href="/static/css/application.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/brulma.css" />
    <link rel="stylesheet" href="/assets/ui/bundle.css" />
  </head>
  <body>
    {{template "navigation"}}
    {{template "hero-simple" "Folio Ingestion"}}

    <div id="app"></div>
    {{template "footer"}}

    <script src="/assets/ui/bundle.js"></script>
  </body>
</html>
