<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Brucheion</title>

    {{template "stylesheets"}}
    <link rel="stylesheet" href="/assets/app/bundle.css" />
  </head>
  <body class="has-hero full-height">
    {{template "navigation"}}
    {{template "hero-simple" .Title}}

    <div id="app"></div>
    <script src="/assets/app/bundle.js"></script>
  </body>
</html>
