<html>

<head>
	<title>Brucheion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="{{.Host}}/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/openseadragon-guides.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selection.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionoverlay.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/selectionrect.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/dragging.js"></script>
	<script type="text/javascript" src="{{.Host}}/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/application.css">
	<link rel="stylesheet" href="{{.Host}}/static/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{.Host}}/static/css/brulma.css">
	<style>
		.tile-resizable {
			resize: both;
			overflow: hidden
		}
	</style>
	{{.ImageScript}}
</head>

<body>
  {{template "navigation" .}}

	<section class="hero is-link">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Passage Overview
				</h1>
				<div class="columns">
					<div class="coulumn">
						<p class="subtitle"></p><a href="{{.Host}}/view/{{.First}}/"><i
								class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>
						<a href="{{.Host}}/view/{{.Previous}}"><i class="fa fa-chevron-left"></i></a>
						<strong>{{.Title}}</strong>
						<a href="{{.Host}}/view/{{.Next}}/"><i class="fa fa-chevron-right"></i></a>
						<a href="{{.Host}}/view/{{.Last}}/"><i class="fa  fa-chevron-right"></i><i
								class="fa  fa-chevron-right"></i></a>
						</p>
					</div>
					<div class="column">
						<form name="nav">
							<div class="control">
								<div class="select">
									<select name="SelectURL"
										onchange="document.location.href=document.nav.SelectURL.options[document.nav.SelectURL.selectedIndex].value">
										{{.TextHTML}}
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container is-fluid">


		<section>

		</section>
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box tile-resizable">
					<p class="has-text-right"><a class="button is-small" href="/edit2/{{.Title}}/">EDIT IMAGE
							REFERENCES</a></p>
					<br />
					<p>ImageRef: {{.ImageHTML}}</p>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box tile-resizable">
					<p class="has-text-right"><a class="button is-small" href="/editcat/{{.Title}}/">EDIT METADATA</a>
					</p>
					<br />
					<table>
						<tr>
							<td>WorkURN: {{.CatID}}</td>
							<td>Scheme: {{.CatCit}}</td>
						</tr>
						<tr>
							<td>Workgroup: {{.CatGroup}}</td>
							<td>Title: {{.CatWork}}</td>
						</tr>
						<tr>
							<td>Version: {{.CatVers}}</td>
							<td>Exemplar: {{.CatExmpl}}</td>
						</tr>
						<tr>
							<td>Online: {{.CatOn}}</td>
							<td>Language: {{.CatLan}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<section>
			<div class="tile is-ancestor">
				<div class="tile is-parent">
					<div class="tile is-child box tile-resizable" style="height: 500px;">
						<div id="image_imageContainer"></div>
					</div>
				</div>
				<div class="tile is-parent">
					<div class="tile is-child box tile-resizable">
						<br />
						<div class="tile is-child">
							<p class="has-text-left">Previous: {{.PreviousLink}}</p>
							<p class="has-text-left">Next: {{.NextLink}}</p>
						</div>
						<div class="tile is-child columns">
							<div class="column">
								<button type="button" onclick="makeXSmall()"><span
										style="font-size: x-small">Aa</span></button>
								<button type="button" onclick="makeSmall()"><span
										style="font-size: small">Aa</span></button>
								<button type="button" onclick="makeMedium()"><span
										style="font-size: medium">Aa</span></button>
								<button type="button" onclick="makeBig()"><span
										style="font-size: large">Aa</span></button>
								<button type="button" onclick="makeXBig()"><span
										style="font-size: x-large">Aa</span></button>
							</div>
							<div class="column">
								<p class="has-text-right"><a class="button is-small" href="/edit/{{.Title}}/">EDIT
										TRANSCRIPTION</a></p>
							</div>
						</div>
						<div style="text-indent: 2em">
							{{.Text}}
						</div>
					</div>
				</div>
			</div>
		</section>

		{{template "footer"}}
	</div>
	<input type="hidden" id="initialCITE" value="{{.ImageJS}}" readonly>
	<script type="text/javascript" src="{{.Host}}/js/BrIC.js"></script>
	<script>
		function makeXBig() {
			var x = document.getElementsByName("textpassage");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "x-large";
			};
		};
		function makeBig() {
			var x = document.getElementsByName("textpassage");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "large";
			};
		};
		function makeMedium() {
			var x = document.getElementsByName("textpassage");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "medium";
			}
		};
		function makeXSmall() {
			var x = document.getElementsByName("textpassage");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "x-small";
			}
		};
		function makeSmall() {
			var x = document.getElementsByName("textpassage");
			for (var i = 0; i < x.length; i++) {
				x[i].style.fontSize = "small";
			}
		};
	</script>
</body>

</html>